<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!--
    ejs模板资源文件：
      有一些特定语法，专门用来实现服务器渲染的
      这些语法能让我在写html的地方写js代码，所以所有写js代码都应该用ejs语法包起来

    修改模板资源不需要重启服务器

    < %   % > 能够执行任意的js代码，没有输出到模板页面上
      遍历生成类似的结构
    < %=   % > 输出转义后的数据到模板页面上：用的最多，基本上都用。
      安全性的问题：我们不能相信用户的任何输入（凡是用户需要输入的内容，后台都必须要转义处理）
    < %-   % > 输出非转义的数据到模板页面上


  -->
  <%= err %>
  <%- err %>

  <ul>
    <% data.forEach((item) => { %>
      <li>
        <span>姓名：<%= item.name %></span>
        <span>年龄：<%= item.age %></span>
      </li>
    <% }) %>
  </ul>


</body>
</html>